@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OpenSauceSans";
  src: url("/fonts/OpenSauceSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aminute";
  src: url("/fonts/Aminute.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --foreground-rgb: 51, 51, 51;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden;
  font-family: "OpenSauceSans", sans-serif;
}

/* Efeito de sobreposição das seções */
section {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
  margin-bottom: -5vw;
}
@keyframes fall {
  0% {
    transform: translateY(-50px) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(calc(100vh + 100px)) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall linear infinite;
}
section:last-child {
  clip-path: none;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  section {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vw));
    margin-bottom: -10vw;
  }
}

